body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  background: url('night_drive.jpg') no-repeat center center fixed;
  background-size: cover;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.dark-textarea {
  width: 1200px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  color: white;
  z-index: 999;
  margin: 150px auto;
}

.attention-textarea {
  margin-top: 350px;
  width: 120px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-align: center;
  color: gray;
  z-index: 999;
  
}
